- let TITLE = 'Techtonica Calculator'
- let GoogleFonts = [`Share Tech Mono`,`Bruno Ace`,`Albert Sans`]

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		- for (let x=0; x<GoogleFonts.length; x++)
			link(rel='stylesheet', href=`https://fonts.googleapis.com/css?family=${GoogleFonts[x]}`)
		style
			include ./dist/styles.css
		script(type='text/javascript', defer)
			include ./code.js
		title= TITLE

	body 
		h1= TITLE

		h2 List of items:
		dl#Items.grid
			template
				.Item
					h3 Item-Name ("Description Term")
					.img
					.desc Example description for this item.
					.type
						dt Type:
						dd [type goes here]
					.cat
						//- dt Cat.:
						dd `category > subcat.`
					.fuel
						dt 🔥 Burnable
						dd [burn time]
					.power
					.recipe
						h4 Recipe:
						//- div [recipe list here]
						template
							.recipeItem
								dt.img
								dd.name NAME
					.time
						dt Craft Time ⏱:
						dd [#s]
