$GOLD: goldenrod;
$NAVY: rgb(24,24,36);
$GREEN: rgb(24,96,48);
$RAD: rgb(192,255,96);

html {
	background-color: $NAVY;
	box-sizing: border-box;
	color: white;
	font-family: 'Albert Sans';
	font-size: 16px;
	margin: 0;
	min-height: 100vh;
	overflow-x: clip;
	white-space: pre-wrap;
	width: 100%;
}
body {
	margin: 0;
	// height: 100%;
	// width: 100%;
}

h1 {
	font: 800 3rem 'Bruno Ace';
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font: 800 2rem 'Share Tech Mono';
	background-color: $GOLD;
	color: $NAVY;
}
h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	height: 3rem;
	margin: 0;
	padding: 0.75rem 0.25rem;
	text-transform: uppercase;
}

dt,dd {
	display: inline-block;
}


.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1.4rem;
	padding: 0.5rem;
}

.Item {
	border: 1px solid white;
	padding-bottom: 0.5rem;
	text-align: center;
	width: 16.8rem;

	.desc {
		height: 4.25rem;
		padding: 0 0.5rem 0.4rem;
	}
	.img {
		background-image: url('/sheetM.webp');
		display: inline-block;
		height: 152px;
		width: 152px;
		outline: 2px solid rebeccapurple;

		&:hover {
			box-shadow: 0 0 8px 8px $RAD;
		}
	}
	dt {
		text-transform: uppercase;
	}
	dd.type {
		font-weight: 800;
		text-transform: uppercase;
	}
}
