$GOLD: goldenrod;
$NAVY: rgb(24,24,36);
$GREEN: rgb(24,96,48);
$RAD: rgb(192,255,96);

html {
	background-color: $NAVY;
	box-sizing: border-box;
	color: white;
	font-family: 'Albert Sans';
	font-size: 16px;
	margin: 0;
	min-height: 100vh;
	overflow-x: clip;
	width: 100%;
}
body {
	margin: 0;
	// height: 100%;
	// width: 100%;
}

h1 {
	font: 800 3rem 'Bruno Ace';
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font-size: 2rem;
	background-color: $GOLD;
	color: $NAVY;
	font-family: 'Share Tech Mono';
}
h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
}

dt,dd {
	display: inline-block;
}


.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
	padding: 0.5rem;
}

.Item {
	border: 1px solid white;
	padding: 0.5rem;
	text-align: center;
	width: 16rem;

	.desc {
		height: 4rem;
	}
	.img {
		background-image: url('/item-concepts.webp');
		display: inline-block;
		height: 180px;
		width: 180px;
		outline: 2px solid rebeccapurple;

		&:hover {
			box-shadow: 0 0 8px 8px $RAD;
		}
	}
	dt {
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	dd {
		font-size: 1.2rem;
		font-weight: 800;
		text-transform: uppercase;
	}
}
